<header>
    <nav>
      <div class="logo">
        <a href="/">
            <img class="logo-7drones" src="images/logo-7drones.svg" alt="7drones">
          </a>
      </div>
      <div class="menu-toggle">
        <i class="fas fa-bars burguerhome"></i>
        <ul class="menu-mobile">
          <li><a href="/products/product-detail-drones">Drones</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Conócenos</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registro</a></li>
        </ul>
      </div>
      <ul class>
        <li><a href="/products/productdetail-drones">Drones</a></li>
        <li class="services"><a href="#">Servicios <i class="fas fa-angle-down"></i></a>
          <ul id="submenu-servicios">
            <li><a href="/products/productdetail-cursos">Cursos</a></li>
            <li><a href="/products/productdetail-filmaciones">Filmaciones</a></li>
            <li><a href="/products/productdetail-serviciotecnico">Servicio Técnico</a></li>
            <li><a href="#">Seguridad</a></li>
          </ul>
        </li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Conocenos</a></li>
      </ul>
      <ul>
        <li class="account">
          <a href="#">
            <i class="fas fa-user"></i>
          </a>
          <ul class="iconologin">
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
          </ul>
        </li>
        <li>
          <a href="/shoppingcart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
    </nav>

  </header>