<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/login.css" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<title>Log-in</title>
	</head>

	<body>
		<header>
			<nav>
				<div class="logo">
					<a href="index.html">
						<img src="images/..." alt="7drones" />
					</a>
				</div>
				<div class="menu-toggle">
					<i class="fas fa-bars burguerhome"></i>
					<ul class="menu-mobile">
						<li><a href="#">Drones</a></li>
						<li><a href="#">Servicios</a></li>
						<li><a href="#">Noticias</a></li>
						<li><a href="#">Conócenos</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Registro</a></li>
					</ul>
				</div>
				<ul class>
					<li><a href="productos.html">Drones</a></li>
					<li class="services">
						<a href="#"
							>Servicios <i class="fas fa-angle-down"></i
						></a>
						<ul id="submenu-servicios">
							<li><a href="#">Cursos</a></li>
							<li><a href="#">Filmaciones</a></li>
							<li><a href="#">Servicio Técnico</a></li>
							<li><a href="#">Seguridad</a></li>
						</ul>
					</li>
					<li><a href="#">Noticias</a></li>
					<li><a href="#">Conocenos</a></li>
				</ul>
				<ul>
					<li class="account">
						<a href="#">
							<i class="fas fa-user"></i>
						</a>
						<ul class="iconologin">
							<li><a href="login.html">Iniciar sesión</a></li>
							<li><a href="register.html">Registrarse</a></li>
						</ul>
					</li>
					<li>
						<a href="carrito.html">
							<i class="fa-solid fa-cart-shopping"></i>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main class="main-login">
			<div class="b-container">
				<h2 class="b-center">Acceder</h2>
				<form action="">
					<div class="b-inputDiv">
						<label for="name" class="b-username"
							>Nombre de usuario</label
						>
						<div class="b-userArea">
							<i class="fa-solid fa-user"></i
							><input
								type="text"
								name="name"
								id="name"
								placeholder="Tu nombre de Usuario"
								required
							/>
						</div>
						<hr />
					</div>
					<div class="b-inputDiv">
						<label for="password" class="b-username"
							>contraseña</label
						>
						<div class="b-userArea">
							<i class="fa-solid fa-key"></i
							><input
								type="password"
								name="password"
								id="password"
								placeholder="Escribi tu contraseña"
								required
							/>
						</div>
						<hr />
					</div>
					<span class="b-forgotPassword"
						>olvidaste tu contraseña?</span
					>
					<button class="b-btn">Login</button>
					<span></span>
					<span></span>
					<span></span>
					<div class="b-formBottom">
						<p>Iniciar sesion utilizando</p>
						<ul class="b-flexUl">
							<a href="https://www.faceboook.com" target="_blank">
								<li><i class="fa-brands fa-facebook-f"></i></li>
							</a>
							<a href="https://www.twitter.com" target="_blank">
								<li><i class="fa-brands fa-twitter"></i></li>
							</a>
							<a href="https://www.google.com" target="_blank">
								<li><i class="fa-brands fa-google"></i></li>
							</a>
						</ul>
						<p class="b-signUp">O inicia sesion utilizando:</p>
						<p id="b-signUp">Iniciar</p>
					</div>
				</form>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="footer-col">
						<h4>7Drones</h4>
						<ul>
							<li><a href="#">Conocenos</a></li>
							<li><a href="#">Servicios</a></li>
							<li><a href="#">Nuestro Equipo</a></li>
							<li><a href="#">Nuestros Socios</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Productos</h4>
						<ul>
							<li><a href="#">Drones</a></li>
							<li><a href="#">Cámaras</a></li>
							<li><a href="#">Repuestos</a></li>
							<li><a href="#">Accesorios</a></li>
						</ul>
					</div>

					<div class="footer-col">
						<h4>Seguinos</h4>
						<div class="social-links">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
					<div class="footer-col">
						<form
							action="direccion web de api que envie el mail a nuestro mail"
							method="POST"
							class="contactanos"
						>
							<br />
							<label for="nombre">Nombre y apellido:</label>
							<br />
							<input
								type="text"
								name="Nombre"
								id="nombre"
							/><br />
							<label for="email">Tu Email:</label><br />
							<input type="email" name="email" id="email" /><br />
							<label for="consulta">Tu Consulta:</label><br />
							<textarea
								name="Consulta"
								id="consulta"
								placeholder="Preguntanos lo que quieras!"
							>
							</textarea
							><br />
							<button type="submit">Enviar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="nuestro-contacto">
				<p>
					<a href="#"
						><i class="fa-regular fa-envelope"></i>
						7drones@gmail.com</a
					>
					<br />
				</p>
				<p><i class="fa-solid fa-phone"></i>+54 9 1158495849 <br /></p>
				<p>
					<i class="fa-solid fa-location-arrow"></i>Calle falsa 123,
					CABA, Argentina
				</p>
			</div>
			<p class="copyright">
				2023 7DRONES | Todos los derechos reservados || Designed by
				Grupo_7_DH
			</p>
		</footer>
	</body>
</html>
