<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/productdetail.css">

    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>


    <title>Servicio Técnico</title>

</head>

<header>
    <nav>
      <div class="logo">
        <a href="/">
            <img class="logo-7drones" src="images/logo-7drones.svg" alt="7drones">
          </a>
      </div>
      <div class="menu-toggle">
        <i class="fas fa-bars burguerhome"></i>
        <ul class="menu-mobile">
          <li><a href="/product-detail-drones">Drones</a></li>
          <li><a href="/product-detail-serviciotecnico">Servicios</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Conócenos</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registro</a></li>
        </ul>
      </div>
      <ul class>
        <li><a href="/product-detail-drones">Drones</a></li>
        <li class="services"><a href="#">Servicios <i class="fas fa-angle-down"></i></a>
          <ul id="submenu-servicios">
            <li><a href="/product-detail-cursos">Cursos</a></li>
            <li><a href="/product-detail-filmaciones">Filmaciones</a></li>
            <li><a href="/product-detail-serviciotecnico">Servicio Técnico</a></li>
            <li><a href="#">Seguridad</a></li>
          </ul>
        </li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Conocenos</a></li>
      </ul>
      <ul>
        <li class="account">
          <a href="#">
            <i class="fas fa-user"></i>
          </a>
          <ul class="iconologin">
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
          </ul>
        </li>
        <li>
          <a href="shopping-cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
    </nav>

  </header>


<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">
        <div class="product">
            <article class="serviciotecnico">
                <h2>Servicio Técnico</h2>
            
                <p>¿Tenés algún problema con tu aplicación o funcionamiento de tu equipo DJI?, ¿Tuviste algún accidente con tu drone?, ¿Acabás de adquirir un equipo DJI nuevo en nuestro showroom autorizado DJI en Unicenter? Vení con tu equipo a nuestra única sede con service autorizado por DJI en Argentina y solucioná todas tus dudas y consultas. Contamos con las mejores opiniones de clientes, brindamos el mejor servicio de reparación y reemplazo de repuestos.    </p>
                <button>Contactenme</button>
            </article>
             
          </div>
    </div>
</body>

 <!--- Comienzo del footer-->

 <footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4>7Drones</h4>
              <ul>
                  <li><a href="#">Conocenos</a></li>
                  <li><a href="#">Servicios</a></li>
                  <li><a href="#">Nuestro Equipo</a></li>
                  <li><a href="#">Nuestros Socios</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Productos</h4>
              <ul>
                  <li><a href="/product-detail-drones">Drones</a></li>
                  <li><a href="#">Cámaras</a></li>
                  <li><a href="/product-detail-accesorios">Repuestos</a></li>
                  <li><a href="/product-detail-accesorios">Accesorios</a></li>

              </ul>
          </div>

          <div class="footer-col">
              <h4>Seguinos</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="footer-col">
              <form action="direccion web de api que envie el mail a nuestro mail" method="POST"
                  class="contactanos"><br>
                  <label for="nombre">Nombre y apellido:</label> <br>
                  <input type="text" name="Nombre" id="nombre"><br>
                  <label for="email">Tu Email:</label><br>
                  <input type="email" name="email" id="email"><br>
                  <label for="Consulta">Tu Consulta:</label><br>
                  <textarea name="Consulta" id="Consulta"
                      placeholder="Preguntanos lo que quieras!"> </textarea><br>
                  <button type="submit" class="button-green">Enviar</button>
              </form>
          </div>
      </div>
  </div>
  <div class="nuestro-contacto">
      <p><a href="#"><i class="fa-regular fa-envelope"></i> 7drones@gmail.com</a> <br> </p>
      <p><i class="fa-solid fa-phone"></i>+54 9 1158495849 <br></p>
      <p><i class="fa-solid fa-location-arrow"></i>Calle falsa 123, CABA, Argentina</p>
  </div>
  <p class="copyright">2023 7DRONES | Todos los derechos reservados || Designed by Grupo_7_DH</p>
</footer>
</body>

</html>