<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>


    <title>Servicio Técnico</title>

</head>

<header>
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="ruta/al/logo.png" alt="7drones" />
            </a>
        </div>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
            <ul class="menu">
                <li><a href="#">Drones</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </div>
        <ul>
            <li><a href="productos.html">Drones</a></li>
            <li class="services">
                <a href="#">Servicios <i class="fas fa-angle-down"></i></a>
                <ul>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Filmaciones</a></li>
                    <li><a href="#">Servicio Técnico</a></li>
                    <li><a href="#">Seguridad</a></li>
                </ul>
            </li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Conocenos</a></li>
        </ul>
        <ul>
            <li class="account">
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
                <ul>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="register.html">Registrarse</a></li>
                </ul>
            </li>
            <li>
                <a href="carrito.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>


<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">
        <div class="product">
            <article class="serviciotecnico">
                <h2>Servicio Técnico</h2>
            
                <p>¿Tenés algún problema con tu aplicación o funcionamiento de tu equipo DJI?, ¿Tuviste algún accidente con tu drone?, ¿Acabás de adquirir un equipo DJI nuevo en nuestro showroom autorizado DJI en Unicenter? Vení con tu equipo a nuestra única sede con service autorizado por DJI en Argentina y solucioná todas tus dudas y consultas. Contamos con las mejores opiniones de clientes, brindamos el mejor servicio de reparación y reemplazo de repuestos.    </p>
                <button>Contactenme</button>
            </article>
             
          </div>
    </div>
</body>
</html>