<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title></title>

</head>

<header>
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="ruta/al/logo.png" alt="7drones" />
            </a>
        </div>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
            <ul class="menu">
                <li><a href="#">Drones</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </div>
        <ul>
            <li><a href="productos.html">Drones</a></li>
            <li class="services">
                <a href="#">Servicios <i class="fas fa-angle-down"></i></a>
                <ul>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Filmaciones</a></li>
                    <li><a href="#">Servicio Técnico</a></li>
                    <li><a href="#">Seguridad</a></li>
                </ul>
            </li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Conocenos</a></li>
        </ul>
        <ul>
            <li class="account">
                <a href="#">
                    <i class="fas fa-user"></i>
                </a>
                <ul>
                    <li><a href="login.html">Iniciar sesión</a></li>
                    <li><a href="register.html">Registrarse</a></li>
                </ul>
            </li>
            <li>
                <a href="carrito.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>


<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">

        <div class="product">
            <article class="filmaciones">
                <img src="/images/campo.jpg" alt="campo">
                <h2>Agricultura</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, minima consequuntur non dicta aliquam eum
                    rem! Qui hic rem ullam iure. Nulla voluptates dolores cum quas iusto deserunt id amet!</p>
                <button>Agregar al carrito</button>
        </div>
        </article>
    
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/evento.jpg" alt="eventos">
                <h2>Eventos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eius consectetur similique perferendis
                    praesentium ad incidunt harum quasi, modi assumenda, fugit excepturi molestias ab voluptates error
                    fugiat cupiditate molestiae voluptate!</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a
                    ratione laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed?
                    Cupiditate, adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <!--- <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a ratione
                    laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed? Cupiditate,
                    adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>  --->
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/cine.jpg" alt="cine">
                <h2>Cine</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum nobis natus dolorem eum impedit accusamus
                    alias cumque autem blanditiis qui quae, ea quod dolorum dicta eaque nostrum, et aut?</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    </div>
    

</body>

</html>