@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #e5e5f7;
    background-image: radial-gradient(#c657d8 0.5px, transparent 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    min-height: 100vh;
}

.container-create{
    display: flex;
	justify-content: center;
	align-items: center;
	height:max-content;
    width: auto;
	

}
.createp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: AUTO;

    margin-bottom: 20px;
    border-top: 1px;
}
.box-create{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 80px;

}

