@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    font-family: "Roboto", sans-serif;
    background-color: #e5e5f7;
}
form{
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    color: #999;
    border-radius: 3px;
}
input, label, textarea{
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: 0;
}
.field{
    border: solid 1px #ccc;
    padding: 10px;
    width: 280px;
    border-radius: 3px;
}
.field:focus{
border-color: #2A3630ff ;
}
#id_brand{
    border-radius: 3px;
    border: solid 1px #ccc;
    padding: 5px;
    width: 300px;
    text-align: center;
    color: grey;
    font-style: oblique;
}

.boton{
    display: flex;
    flex-direction: column;
}
.enviar{
    background-color: #2A3630ff;
    padding: 10px;
    font-size: medium;
    color:white;
    font-weight: bolder;
}

.container-create{
    display: flex;
	justify-content: center;
	align-items: center;
	height:max-content;
    width: auto;

}
.createp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: AUTO;

    margin-bottom: 20px;
    border-top: 1px;
}
.box-create{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    

}
@media (max-width: 768px) {
    
    #footer{
        display: none;
    }
}

/* Estilos para teléfonos móviles */
@media (max-width: 480px) {
    
    #footer{
        display: none;
    }
}

