
body{
    font-family: 'Roboto', sans-serif;
}

.noticias-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
}

.noticia-card {
        width: calc(35% - 30px); 
        margin: 10px auto 10px 150px; 
        border: 3px solid #ddd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: auto; 
        margin-right: 10px; 
}

.noticia-content {
    flex: 1; 
    text-align: center;
}

.noticia-content a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.noticia-content a:hover {
    color: #007BFF;
}
.noticia-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

@media (max-width: 768px) {
    .noticia-card {
        width: calc(50% - 2rem); /* Cambiar el ancho para tabletas */
        margin: 1rem auto; /* Ajustar el margen para tabletas */
    }
    #footer{
        display: none;
    }
}

/* Estilos para teléfonos móviles */
@media (max-width: 480px) {
    .noticia-card {
        width: 100%; /* Ocupar todo el ancho en teléfonos móviles */
        margin: 1rem auto; /* Ajustar el margen para teléfonos móviles */
    }
    #footer{
        display: none;
    }
}
