@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.perfil {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.boton-crear{
    display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(135deg, #6dcff6, #4a9ec4);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background 0.3s ease;
}

    