@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.body-register {

	font-family: "Roboto", sans-serif;
}

.container-register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: AUTO;
	background-image: url(/images/Register-login.jpg);
}
.container-register form {
	background-color: #19222b;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 5px #bd9240;
	width: 400px;
	margin: 30px;
	height: 90%
}
.container-register h1 {
	font-size: 35px;
	text-align: center;
}
.container-register label {
	display: block;
	font-weight: 600;
	color: whitesmoke;
}
.container-register input,
.container-register button,
.container-register .checkbox {
	padding: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkbox input {
	width: 10px;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 2px;
}
.button-register {
	display: flex;
	width: 100%;
	justify-content: center;
}
#register-submit-btn[disabled] {
    background-color: gray;
    cursor: not-allowed;
}
.container-form {
	display: flex;
	flex-direction: column;
	height: 100%
}
.container-form input {
	margin-top: 5px;
	margin-bottom: 10px;
}
.checkbox input {
	margin: 0;
	margin-right: 5px;
}
.container-register button[type="submit"] {
	background-color: #1e90ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	width: 150px;
}

.container-register button[type="submit"]:hover {
	background-color: #0056b3;
	color: #fff;
}
