<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include ('../partials/header') %>

        <!---COMIENZA CODIGO PRODUCTO---->

        <body>
            <div class="container-detalle">
                <div class="product">
                    <article class="serviciotecnico">
                        <h2>Sobre Nosotros</h2>

                        <p>7 Drones nació de la mano de un grupo de expertos y apasionados sobre productos de tecnología
                            piloteados por telemando / radio control.

                            A medida que fue incrementando la popularidad de los drones aéreos y dada la alta
                            complejidad en el diseño y uso de estos equipos, identificamos la necesidad de brindar un
                            servicio integral al consumidor.
                            Nuestros especialistas están listos para ayudar en todas las etapas de compra, desde la
                            asistencia en la elección del equipo correcto, las capacitaciones requeridas para
                            aprovecharlos al máximo, hasta el soporte técnico ante cualquier eventualidad.

                            Nuestro diferencial se encuentra en nuestro equipo interdisciplinario que brinda un servicio
                            personalizado a cada uno de nuestros clientes, generando la máxima satisfacción posible.
                        </p>
                    </article>

                </div>
            </div>
        </body>

        <!--- Comienzo del footer-->
        <%- include ('../partials/footer')%>
        <%- include('../partials/scripts') %>
</body>

</html>