<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/login.css" />
		<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<%- include ('../partials/header') %>

		<main class="main-login">
			<div class="b-container">
			
				<% if (errors.length > 0) { %>
					<div class="error-messages">
					  <ul>
						<% errors.forEach(error => { %>
						  <li style="color: red"><%= error.msg %></li>
						<% }); %>
					  </ul>
					</div>
				  <% } %>
				
				<form method="POST" action="/login">
					<div class="b-inputDiv">
						<label for="email" class="b-username">Correo electrónico</label>
						<div class="b-userArea">
							<i class="fa-solid fa-user"></i>
							<input type="email" name="email" id="email-login" placeholder="Tu correo electrónico"
								required />
								<p class="error" style="color: red"></p>
						</div>
						<hr />
					</div>
					<div class="b-inputDiv">
						<label for="password" class="b-username">Contraseña</label>
						<div class="b-userArea">
							<i class="fa-solid fa-key"></i>
							<input type="password" name="password" id="password-login"
								placeholder="Escribe tu contraseña" required />
								<p class="error"></p>
						</div>
						<hr />
					</div>


					<div class="b-inputDiv">
						<label for="remember">Mantener sesión iniciada</label>
						<input type="checkbox" name="remember" id="remember">
					</div>


					<span class="b-forgotPassword">¿Olvidaste tu contraseña?</span>
					<button class="login-btn" id="login-btn">Iniciar sesión</button>
					
					<div class="b-formBottom">
						<p>Iniciar sesión utilizando</p>
						<ul class="b-flexUl">
							<a href="https://www.facebook.com" target="_blank">
								<li><i class="fa-brands fa-facebook-f"></i></li>
							</a>
							<a href="https://www.twitter.com" target="_blank">
								<li><i class="fa-brands fa-twitter"></i></li>
							</a>
							<a href="https://www.google.com" target="_blank">
								<li><i class="fa-brands fa-google"></i></li>
							</a>
						</ul>
						<!-- <p class="b-signUp">O inicia sesión utilizando:</p>
						<p id="b-signUp">Iniciar</p> -->
					</div>
				</form>
			</div>
		</main>

		<!--- Comienzo del footer-->

		<%- include ('../partials/footer')%>
		<script src="/js/loginForm.js"></script>
</body>

</html>