main {
  background-color: white;
}

  .pagination {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .pagination-item {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0 5px; /* Espacio entre los elementos */
  }
  .pagination-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination-item button:hover {
    background-color: #0056b3;
  }
  
  
  .listado-de-usuarios {
    /* Estilos para el contenedor principal (opcional) */
    padding: 20px;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  }
  
  .titulo-lista {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y la sección de usuarios */
  }
  
  .seccion-usuarios {
    background-color: #fff; /* Color de fondo de la sección de usuarios */
    border: 1px solid #ccc; /* Borde para separar la sección del fondo general */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ul-users {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten automáticamente en una fila */
    justify-content: center; /* Centra las tarjetas horizontalmente */
  }
  
  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 300px; /* Ajusta el ancho de las tarjetas según tus preferencias */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 4px solid #09736Cff;
  }
  
  .user-info {
    margin-bottom: 10px;
  }
  
  .user-info p {
    margin: 0;
    font-size: 16px;
  }
  
  .list-img-container {
    text-align: center;
  }
  
  .profilePics {
    max-width: 100%;
    height: auto;
  }
  .botones {
    text-align: center; /* Centra horizontalmente el contenido */
    margin-top: 20px; /* Añade espacio en la parte superior para separar del contenido superior */
  }
  
  .botones button {
    background-color: #5E584D;
    color: #FCFCFC;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botones button:hover {
    background-color: #09736C;
  }
  
  
  
  