main {
  background-color: whitesmoke;
}
.ul-products {
  display: flex;
  flex-direction:column;
}
  .li-product {
    display: flex ;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .product-container {
    display: flex;
    width: 50%;
    align-items: center;
    border: 1px dotted black ;
    margin: 10px;
  }
.list-img-container {
    display: flex; /* Centr a horizontalmente */
    justify-content: center; /* Centra vertical y horizontalmente */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 10px;
  }
  .product-image {
    max-width: 100%;  
    max-height: 100%;
    border-radius: 50%;
  }

  .profilePics {
    max-height: 100px; 
    max-height: 100px;
    border-radius: 50%; 
    position: relative;
    left: 10%;
    margin: 20px
  }
  
  .pagination {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  
  .pagination-item {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0 5px; /* Espacio entre los elementos */
  }
  .pagination-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination-item button:hover {
    background-color: #0056b3;
  }
  
  .li-user {
    margin: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }