<!DOCTYPE html>
<html lang="es">
	<head> <%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/register.css">
		<link rel="stylesheet" href="/css/styles.css">
		</head>
	<body class ="body-register">
	<%- include ('../partials/header') %>
	

	<main> 
		<h1>Bienvenido <%= nuevoUsuario %> a 7Drones </h1>
		<a href="/login"><h3> Ir a login</h3></a>
		<a href="/"><h3>Ir a Home</h3></a> <br><br><br><br>
	</main>


	<!--- Comienzo del footer-->
	<%- include ('../partials/footer')%>
</body>

</html>

