<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Drone</title>
    
    <link rel="stylesheet" href="/css/create.css">
    <!--<link rel="stylesheet" href="/css/styles.css">--->
</head>

<body>

    <main class="container-create">

        
        <div class="createp">
            
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div class="box-create">
                    <label for="">Titulo</label>
                    <input type="text" name="title" id="">
                    <br>
                    <label for="">Descripci칩n</label>
                    <input type="text" name="descrption" id="">
                    <br>
                    <label for="">Precio</label>
                    <input type="number" name="price" id="">
                    <br>
                    <label for="">Tiempo m치ximo de vuelo</label>
                    <input type="number" name="maxFlightTime" id="">
                    <br>
                    <label for="">Distancia m치xima de transmisi칩n</label>
                    <input type="number" name="maxTrasmitionRange" id=""><br>
                    <label for="img">Imagen</label>
                    <input type="file" accept=".jpg, .jpeg, .png" name="img" id="img"><br>
                    <input type="submit"></input>

                </div>
            </form>
            
        </div>
        <br>
        
        
        
    </main>
    </body>

</html>