<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Drone</title>

    <link rel="stylesheet" href="/css/create.css">
    <!--<link rel="stylesheet" href="/css/styles.css">--->
</head>

<body>
            <form action="/products" method="POST" enctype="multipart/form-data" >

                <div class="box-create">
                    <label for="">Titulo</label>
                    <div>
                        <input type="text" name="name" class="field">
                        <p class="error" style="color:red">
                        </p>
                    </div>
                    
                    <label for="">Descripci칩n</label>
                    <div>
                        <textarea name="description" class="field"></textarea>
                        <p class="error" style="color:red">
                        </p>
                    </div>
                    
                    <label for="brand">Marca:</label>
                    <select id="id_brand" name="id_brand">
                        <option value="1">PANACOM</option>
                        <option value="2">GADNIC</option>
                        <option value="3">TOYSKY</option>
                        <option value="4">DJI</option>
                        <option value="5">SUNNYLIFE</option>
                        <option value="4">BEHORSE</option>
                    </select>
                    
                    <label for="">Precio</label>
                    <div>
                        <input type="number" name="price" class="field">
                        <p class="error" style="color:red">
                        </p>
                    </div>
                    
                    <label for="">Tiempo m치ximo de vuelo</label>
                    <input type="number" name="maxFlightTime" class="field">

                    
                    <label for="">Distancia m치xima de transmisi칩n</label>
                    <input type="number" name="maxTransmitionRange" class="field"><br>

                    <label for="img">Imagen</label>
                    <br>
                    <div class="boton">
                        <input type="file" accept=".jpg, .jpeg, .png" name="img" ><br>
                        <p  style="color:red"></p>
                        <input type="submit" class="enviar" ></input>
                    </div>

                </div>
            </form>
        </div>
        <br>

    <script src="/js/createProductForm.js"></script>
    <%- include('../partials/scripts') %>
    
</body>

</html>