<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Drone</title>
    
    <link rel="stylesheet" href="/css/create.css">
    <!--<link rel="stylesheet" href="/css/styles.css">--->
</head>

<body>

    <main class="container-create">

        
        <div class="createp">
            
            <form action="/products" method="POST" enctype="multipart/form-data" class="create-product-form">
                <div class="box-create">
                    <label for="">Titulo</label>
                    <div><input type="text" name="name" id="new-product-name">
                    <p class="error" style="color:red"></p></div>
                    <br>
                    <label for="">Descripci칩n</label>
                    <div><textarea name="description" id="new-product-description"></textarea>
                    <p class="error" style="color:red"></p></div>
                    <br>
                    <label for="brand">Marca:</label>
                    <select id="id_brand" name="id_brand">
                      <option value="1">PANACOM</option>
                      <option value="2">GADNIC</option>
                      <option value="3">TOYSKY</option>
                      <option value="4">DJI</option>
                      <option value="5">SUNNYLIFE</option>
                      <option value="4">BEHORSE</option>
                    </select><br>
                    <label for="">Precio</label>
                    <div><input type="number" name="price" id="new-product-price">
                    <p class="error" style="color:red"></p></div>
                    <br>
                    <label for="">Tiempo m치ximo de vuelo</label>
                    <input type="number" name="maxFlightTime" id="new-product-maxfligth">
                    <br>
                    <label for="">Distancia m치xima de transmisi칩n</label>
                    <input type="number" name="maxTransmitionRange" id="new-product-maxtransmition"><br>
                    <label for="img">Imagen</label>
                    <input type="file" accept=".jpg, .jpeg, .png" name="img" id="new-product-img"><br>
                    <p id="imgError" style="color:red"></p>
                    <input type="submit" id="new-product-submit"></input>

                </div>
            </form>
            
        </div>
        <br>
        
        
        
    </main>
    <script src="/js/createProductForm.js"></script>
    </body>

</html>