<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>
    <form action="/products" method="POST" enctype="multipart/form-data">
        <label for="">Titulo</label>
        <input type="text" name="title" id="">
        <br>
        <label for="">Descripci칩n</label>
        <input type="text" name="descrption" id="">
        <br>
        <label for="">Precio</label>
        <input type="number" name="price" id="">
        <br>
        <label for="">Tiempo m치ximo de vuelo</label>
        <input type="number" name="maxFlightTime" id="">
        <br>
        <label for="">Distancia m치xima de transmici칩n</label>
        <input type="number" name="maxTrasmitionRange" id=""><br>
        <label for="img">Imagen</label>
        <input type="file" accept=".jpg, .jpeg, .png" name="img" id="img"><br>
        <input type="submit"></input>
    </form>

    <br>
    

</body>
</html>



