<html>
    
<head>
    <style>
        .centered-div {
            display: flex;
            justify-content:center;
            flex-direction: column;
            align-items:center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="centered-div">
        <h2>La página que buscas no existe.</h2>
        <img src="/images/404.jpg" alt="">
    </div>
</body>