<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/productdetail.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title></title>

</head>

<header>
    <nav>
      <div class="logo">
        <a href="/">
            <img class="logo-7drones" src="images/logo-7drones.svg" alt="7drones">
          </a>
      </div>
      <div class="menu-toggle">
        <i class="fas fa-bars burguerhome"></i>
        <ul class="menu-mobile">
          <li><a href="/product-detail-drones">Drones</a></li>
          <li><a href="/product-detail-serviciotecnico">Servicios</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Conócenos</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registro</a></li>
        </ul>
      </div>
      <ul class>
        <li><a href="/product-detail-drones">Drones</a></li>
        <li class="services"><a href="#">Servicios <i class="fas fa-angle-down"></i></a>
          <ul id="submenu-servicios">
            <li><a href="/product-detail-cursos">Cursos</a></li>
            <li><a href="/product-detail-filmaciones">Filmaciones</a></li>
            <li><a href="/product-detail-serviciotecnico">Servicio Técnico</a></li>
            <li><a href="#">Seguridad</a></li>
          </ul>
        </li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Conocenos</a></li>
      </ul>
      <ul>
        <li class="account">
          <a href="#">
            <i class="fas fa-user"></i>
          </a>
          <ul class="iconologin">
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
          </ul>
        </li>
        <li>
          <a href="shopping-cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>
      </ul>
    </nav>

  </header>

<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">
        <div class="product">
            <article class="filmaciones">
                <img src="/images/mavic mini 2.jpg" alt="MAVIC">
                <h2>Mavic Mini 2</h2>
                <p>Gracias a sus 31 minutos de autonomía junto a una camara de 12mp 4k y su tamaño compacto es el drone para tus momentos. El systema Occusync de trasmisión te brinda hasta 10km de alcance con transmisión HD libre de interferencias. Mini 2, tu compacta solución. Con solo unos toques en la pantalla disfruta de las tomas QuickShot, el Mini 2 hará todo por vos, videos profesionales para compartir con un toque en tus redes sociales.</p>
                <button>Agregar al carrito</button>
        </div>
        </article>
    
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/mavic3.jpg" alt="Mavic">
                <h2>Mavic 3 PRO</h2>
                <p>El DJI Mini 3 Pro de tamaño mini y megacapacidad es tan potente como portátil. Con un peso inferior a 249 g y con características de seguridad avanzados, no solo cumple con las normas, sino que también es el más seguro de su serie. Con un sensor de 1/1,3 pulgadas y características de primer nivel, redefine lo que significa volar Mini</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="mavic">
                <h2>FPV Kit Pro</h2>
                <p>¡Rápido, dinámico, potente y divertido!
    
                    El DJI Avata cuenta con todas las características de un drone FPV, pero también apto para interiores gracias a su tamaño reducido y los protectores para aspas.
                    
                    El cielo es tu patio de juegos cuando usas el DJI Avata, con su conexión con el Motion Controller y los Goggles podes pilotar el drone como si estuvieras dentro del cockpit!
                    
                    ¡El drone con perfecto balance entre la agilidad y la robustez! Siendo compacto y liviano, el DJI Avata es increíble en espacios apretados. Los protectores de aspas y motores, logran resistir golpes fuertes, frenando el drone y manteniéndolo estable.
                    
                    Encima de ser portable y liviano (410 gramos), con los DJI Goggles 2, podrás volar en primera persona como si estuvieses en la cabina de pilotaje para así pilotear el cielo en una experiencia como nunca antes. Además, con el DJI Motion Controller, podrás volar controlando el drone con un RC que simula el de un helicóptero!
                    
                    Ademas si sos un usuario experimentado y buscas precisión y movimientos avanzados esta versión cuenta con el FPV Remote Controller 2, para que puedas exprimir el DJI Avata al máximo en el modo Manual y conseguir tomas y experiencias únicas!
                    
                    Pero el alcance del DJI Avata no se queda ahí: Además de poder sacar fotos con 48 MP efectivos, ¡cuenta con una cámara increíble para grabar todo el contenido de tus aventuras! Sus características deslumbran dado su capacidad de filmación en 4K a 60 fps; sensor CMOS de 1/1,7 “; 105º FOV (rango de visión); Modo de Color D-Cinelike; EIS HorizonSteady y RockSteady 2.0 (estabilizador de imágenes).
                    
                    Gracias a su función D-Cinelike, con el DJI Avata podrás editar con mucha más simpleza los videos y fotografías que saques</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <!--- <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a ratione
                    laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed? Cupiditate,
                    adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>  --->



        <!--- Comienzo del footer-->

    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col">
                  <h4>7Drones</h4>
                  <ul>
                      <li><a href="#">Conocenos</a></li>
                      <li><a href="#">Servicios</a></li>
                      <li><a href="#">Nuestro Equipo</a></li>
                      <li><a href="#">Nuestros Socios</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Productos</h4>
                  <ul>
                      <li><a href="/product-detail-drones">Drones</a></li>
                      <li><a href="#">Cámaras</a></li>
                      <li><a href="/product-detail-accesorios">Repuestos</a></li>
                      <li><a href="/product-detail-accesorios">Accesorios</a></li>

                  </ul>
              </div>

              <div class="footer-col">
                  <h4>Seguinos</h4>
                  <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="footer-col">
                  <form action="direccion web de api que envie el mail a nuestro mail" method="POST"
                      class="contactanos"><br>
                      <label for="nombre">Nombre y apellido:</label> <br>
                      <input type="text" name="Nombre" id="nombre"><br>
                      <label for="email">Tu Email:</label><br>
                      <input type="email" name="email" id="email"><br>
                      <label for="Consulta">Tu Consulta:</label><br>
                      <textarea name="Consulta" id="Consulta"
                          placeholder="Preguntanos lo que quieras!"> </textarea><br>
                      <button type="submit" class="button-green">Enviar</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="nuestro-contacto">
          <p><a href="#"><i class="fa-regular fa-envelope"></i> 7drones@gmail.com</a> <br> </p>
          <p><i class="fa-solid fa-phone"></i>+54 9 1158495849 <br></p>
          <p><i class="fa-solid fa-location-arrow"></i>Calle falsa 123, CABA, Argentina</p>
      </div>
      <p class="copyright">2023 7DRONES | Todos los derechos reservados || Designed by Grupo_7_DH</p>
  </footer>
</body>

</html>