<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

	<body>
	<%- include ('../partials/header') %>
	


<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">

        <div class="product">
            <article class="filmaciones">
                <img src="/images/campo.jpg" alt="campo">
                <h2>Agricultura</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, minima consequuntur non dicta aliquam eum
                    rem! Qui hic rem ullam iure. Nulla voluptates dolores cum quas iusto deserunt id amet!</p>
                <button>Agregar al carrito</button>
        </div>
        </article>
    
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/evento.jpg" alt="eventos">
                <h2>Eventos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eius consectetur similique perferendis
                    praesentium ad incidunt harum quasi, modi assumenda, fugit excepturi molestias ab voluptates error
                    fugiat cupiditate molestiae voluptate!</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a
                    ratione laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed?
                    Cupiditate, adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <!--- <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a ratione
                    laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed? Cupiditate,
                    adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>  --->
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/cine.jpg" alt="cine">
                <h2>Cine</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum nobis natus dolorem eum impedit accusamus
                    alias cumque autem blanditiis qui quae, ea quod dolorum dicta eaque nostrum, et aut?</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    </div>
    
     <!--- Comienzo del footer-->

     <%- include ('../partials/footer')%>
</body>

</html>