<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

	<body>
	<%- include ('../partials/header') %>
	
<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">
        <div class="product">
            <article class="serviciotecnico">
                <h2>Servicio Técnico</h2>
            
                <p>¿Tenés algún problema con tu aplicación o funcionamiento de tu equipo DJI?, ¿Tuviste algún accidente con tu drone?, ¿Acabás de adquirir un equipo DJI nuevo en nuestro showroom autorizado DJI en Unicenter? Vení con tu equipo a nuestra única sede con service autorizado por DJI en Argentina y solucioná todas tus dudas y consultas. Contamos con las mejores opiniones de clientes, brindamos el mejor servicio de reparación y reemplazo de repuestos.    </p>
                <button>Contactenme</button>
            </article>
             
          </div>
    </div>
</body>

 <!--- Comienzo del footer-->
 <%- include ('../partials/footer')%>
</body>

</html>