<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

	<body>
	<%- include ('../partials/header') %>
	
<!---COMIENZA CODIGO PRODUCTO---->
<body>
    <div class="container-detalle">

        <div class="product">
            <article class="filmaciones">
                <img src="/images/repuestoControlMavic.jpg" alt="campo">
                <h2>Piezas de control de Mavic</h2>
                <p>Las palancas de control Mavic Air 2 están diseñadas para ser desmontables.
                    Puede girarlos y colocarlos en el control remoto cuando esté en uso, y colocarlos en la ranura dedicada para su almacenamiento.
                    Contenido:
                    Sticks repuesto Mavic Air 2
                    Compatibilidad:
                    Control Mavic Air 2</p>
                <button>Agregar al carrito</button>
        </div>

        <div class="product">
            <article class="filmaciones">
                <img src="/images/ejedebrazo.jpg" alt="eventos">
                <h2>Eje de brazo</h2>
                <p>Ejes de brazo originales para drones DJI Mini 3 / Mini 3 Pro</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Bateria</h2>
                <p>Gana alrededor de 6 minutos adicionales de vuelo gracias a esta batería mejorada de alta capacidad para tu Parrot Bebop 2.
                    Peso: 240g
                    Tipo de batería: polímero de litio
                    Capacidad: 3S 11.1v 4000mAh
                    100% sin efecto memoria: puedes cargar la batería en cualquier momento.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>
    
        <!--- <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a ratione
                    laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed? Cupiditate,
                    adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>  --->
    
        <!--<div class="product">
            <article class="filmaciones">
                <img src="/images/cine.jpg" alt="cine">
                <h2>Cine</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ipsum nobis natus dolorem eum impedit accusamus
                    alias cumque autem blanditiis qui quae, ea quod dolorum dicta eaque nostrum, et aut?</p>
                <button>Agregar al carrito</button>
            </article>
        </div> -->
    
    </body>

    </div>
    
    </article>

    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col">
                  <h4>7Drones</h4>
                  <ul>
                      <li><a href="#">Conocenos</a></li>
                      <li><a href="#">Servicios</a></li>
                      <li><a href="#">Nuestro Equipo</a></li>
                      <li><a href="#">Nuestros Socios</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Productos</h4>
                  <ul>
                      <li><a href="/product-detail-drones">Drones</a></li>
                      <li><a href="#">Cámaras</a></li>
                      <li><a href="/product-detail-accesorios">Repuestos</a></li>
                      <li><a href="/product-detail-accesorios">Accesorios</a></li>

                  </ul>
              </div>

               <!--- Comienzo del footer-->

               <%- include ('../partials/footer')%>
</body>

</html>