<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Productos</title>
</head>


<body>
    <%- include ('../partials/header') %>

    <div class="nuevo-boton">

    <a href="/products/productdetail-drones" class="a-product-detail">
        
            <img src="/images/drone-blanco-flotando-cielo-azul-brillante.jpg" alt="Drones" class="boton-drones">
            
        </a>
        <div class="button-title"> DRONES</div>
</div>

<div class="nuevo-boton">
    <a href="/products/productdetail-accesorios" class="a-product-detail">
        
            <img src="/images/cerca-hombre-controla-dron-sol-amanecer-volcan-batur-bali-indonesia.jpg" alt="Drones" class="boton-drones">
            
        </a>
        <div class="button-title">ACCESORIOS</div>
</div>


    <%- include ('../partials/footer')%>

    
</body>
</html>