<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/products.css">
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Productos</title>
</head>


<body>
    <%- include ('../partials/header') %>

        <div class="nuevo-boton">

            <a href="/products/productdetail-drones" class="a-product-detail">

                <img src="/images/DRONES.png" alt="Drones" class="boton-drones">
            </a>
            

            <a href="/products/productdetail-accesorios" class="a-product-detail">

                <img src="/images/accesorios.png" alt="Drones"
                    class="boton-drones">
            </a>
           

        </div>


        <%- include ('../partials/footer')%>
        <%- include('../partials/scripts') %>


</body>

</html>