<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include ('../partials/header') %>



        <!---COMIENZA CODIGO PRODUCTO---->

        <body>
            <div class="container-detalle">

                <div class="product">
                    <article class="filmaciones">
                        <img src="/images/campo.jpg" alt="campo">
                        <h2>Agricultura</h2>
                        <p>Los drones han revolucionado el agro aportando información para la toma de decisión en tiempo
                            real sobre la producción del lote y equipa a los productores con tecnología de vanguardia,
                            así como con flujos de trabajo innovadores, lo que hace que la agricultura sea más eficiente
                            que nunca.

                            Reducción de riesgos, obtención de datos vitales para optimizar los cultivos, realización de
                            relevos topográficos y mapas de calor, seguridad para operarios, accesibilidad a sitios de
                            difícil acceso, no afecta al suelo ni cultivos, eficiencia operativa, entre otros.</p>
                        <h4>Precio $25000</h4>
                        <button>Agregar al carrito</button>
                </div>
                </article>


                <div class="product">
                    <article class="filmaciones">
                        <img src="/images/evento.jpg" alt="eventos">
                        <h2>Eventos</h2>
                        <p>Muestra las características esenciales de tu evento de forma atractiva. Se utiliza para
                            mostrar un resumen de lo que fue, guardar un registro y promocionar el próximo evento
                        </p>
                        <h4>Precio $25000</h4>
                        <button>Agregar al carrito</button>
                    </article>
                </div>

                <div class="product">
                    <article class="filmaciones">
                        <img src="/images/inmuebles.jpg" alt="inmuebles">
                        <h2>Inmuebles</h2>
                        <p>Si hace poco tiempo los vídeos grabados con drones para inmobiliarias suponían un nuevo
                            concepto en la venta de propiedades, en estos momentos son una necesidad para mostrar en
                            toda su magnitud el inmueble que se está ofreciendo.

                            En las propiedades con fincas, viviendas de alto standing o grandes dimensiones, donde una
                            cámara de tierra o de fotos no llegan a ofrecer una visión real del conjunto, las
                            grabaciones aéreas con drones son la mejor solución.</p>
                        <h4>Precio $25000</h4>
                        <button>Agregar al carrito</button>
                    </article>
                </div>

                <!--- <div class="product">
            <article class="filmaciones">
                <img src="/images/inmuebles.jpg" alt="inmuebles">
                <h2>Inmuebles</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae aperiam velit excepturi a ratione
                    laboriosam, placeat veniam corporis officiis vero maiores delectus quos nostrum earum quia sed? Cupiditate,
                    adipisci.</p>
                <button>Agregar al carrito</button>
            </article>
        </div>  --->

                <div class="product">
                    <article class="filmaciones">
                        <img src="/images/cine.jpg" alt="cine">
                        <h2>Cine</h2>
                        <p>La industria del cine o el mercado audiovisual en general es un sector en el cual los drones son una herramienta perfecta para crear tomas y grabar escenas imposibles. Y es que actualmente no se concibe una relación en la que no se haga uso de los drones en el cine.</h4>
                            <h4>Precio $50000</h4>
                        <button>Agregar al carrito</button>
                    </article>
                </div>
            </div>

            <!--- Comienzo del footer-->

            <%- include ('../partials/footer')%>
            <%- include('../partials/scripts') %>
        </body>

</html>