<!DOCTYPE html>
<html lang="en">
  
<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
</head>

	<body>
	<%- include ('../partials/header') %>
	

<!---COMIENZA CODIGO PRODUCTO---->

<body>
    <div class="container-detalle">
        <div class="product">
            <img src="/images/fotogrametria.jpg" alt="cursos">
            <h2>Fotogrametría con drones.</h2>
            <p>En esta propuesta educativa orientada a técnicos y público general que desee entender en detalle como los
                drones aportan valor agregado a partir del desarrollo de imágenes digitales construídas a partir de la
                fotogrametría; para esto hacemos un recorrido sobre cómo la tecnología de drones ha introducido
                diferentes modelos con diferentes aplicaciones en el ámbito laboral, luego desarrollamos la parte de
                mapeos, abordando la selección del equipo correcto según el producto a obtener, la correcta
                planificación de los vuelos, el análisis de estrategias de mapeo de acuerdo a condiciones del sitio, el
                procesamiento de imágenes, y por último el análisis del mapa obtenido y el desarrollo de productos según
                su aplicación (arquitectura, infraestructura, agro, medio ambiente, seguridad, etc.).</p>
                <h4>Precio $50000</h4>

            <button>Agregar al carrito</button>
        </div>

        <div class="product">
            <img src="/images/cursoagro.jpg" alt="cursos">
            <h2>Agricultura de precisión</h2>
            <p>Con esta propuesta educativa mostramos en detalle como los drones aportan valor agregado al agro. Para
                esto te llevamos a hacer un recorrido a través de los distintos modelos con sus diferentes aplicaciones
                en la agricultura , desarrollando posteriormente la parte de mapeos y su subsiguiente aplicación con
                drones de pulverización. Todo esto, acompañado de docentes con más de 500 mapeos realizados en todo el
                país.</p>
                <h4>Precio $50000</h4>
            <button>Agregar al carrito</button>
        </div>

        <div class="product">
            <img src="/images/piloto.jpg" alt="cursos">
            <h2>Introducción a drones</h2>
            <p>Introducción
                Origen y definición de drones como VANTS. Reseña histórica. Normativa vigente. Clasificación
                VANT.Limitaciones por tipo de vuelo.Fundamentos de vuelo.Principio de sustentación.Factores
                determinantes en la sustentación. Tipos de resistencias en vuelo.Dinámica de vuelo.Componentes de los
                VANTS. Sensores. Alcance y limitaciones de VANTS según sus sensores.Baterias.Tipos de baterías. Cuidados
                y mantenimiento de baterías</p>
                <h4>Precio $50000</h4>
                <button>Agregar al carrito</button>
            
        </div>

    </div>
    
     <!--- Comienzo del footer-->

     <%- include ('../partials/footer')%>
</body>

</html>